html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-center {
  height: 100%;
  display: flex;

  & > :first-child {
    margin: auto;
  }
}
// 表单
.form-item {
  margin-bottom: 12px;

  label > span {
    display: inline-block;
    min-width: 100px;
    text-align: right;
  }

  .submit {
    margin-left: 80px;
  }
}
